@model Pam.Metier.Entites.FeuilleSalaire
<hr />
<p><span class="info">Informations Employé</span></p>
<table>
    <tbody>
        <tr>
            <td>
                <span class="libellé">Nom</span>
            </td>
            <td>
                <span class="libellé">Prénom</span>
            </td>
            <td>
                <span class="libellé">Adresse</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="valeur">@Model.Employe.Nom</span>
            </td>
            <td>
                <span class="valeur">@Model.Employe.Prenom</span>
            </td>
            <td>
                <span class="valeur">@Model.Employe.Adresse</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="libellé">Ville</span>
            </td>
            <td>
                <span class="libellé">Code Postal</span>
            </td>
            <td>
                <span class="libellé">Indice</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="valeur">@Model.Employe.Ville</span>
            </td>
            <td>
                <span class="valeur">@Model.Employe.CodePostal</span>
            </td>
            <td>
                <span class="valeur">@Model.Employe.Indemnites.Indice</span>
            </td>
        </tr>
    </tbody>
</table>
<br />
<p><span class="info">Informations Cotisations</span></p>
<table>
    <tbody>
        <tr>
            <td>
                <span class="libellé">CGRDS</span>
            </td>
            <td>
                <span class="libellé">CSGD</span>
            </td>
            <td>
                <span class="libellé">Retraite</span>
            </td>
            <td>
                <span class="libellé">Sécurité sociale</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="valeur">@Model.Cotisations.CsgRds %</span>
            </td>
            <td>
                <span class="valeur">@Model.Cotisations.Csgd %</span>
            </td>
            <td>
                <span class="valeur">@Model.Cotisations.Retraite %</span>
            </td>
            <td>
                <span class="valeur">@Model.Cotisations.Secu %</span>
            </td>
        </tr>
    </tbody>
</table>
<br />
<p><span class="info">Informations Indemnités</span></p>
<table>
    <tbody>
        <tr>
            <td>
                <span class="libellé">Salaire horaire</span>
            </td>
            <td>
                <span class="libellé">Entretien / Jour</span>
            </td>
            <td>
                <span class="libellé">Repas / Jour</span>
            </td>
            <td>
                <span class="libellé">Congés payés</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="valeur">@String.Format("{0:C2}",@Model.Employe.Indemnites.BaseHeure)</span>
            </td>
            <td>
                <span class="valeur">@String.Format("{0:C2}",@Model.Employe.Indemnites.EntretienJour)</span>
            </td>
            <td>
                <span class="valeur">@String.Format("{0:C2}",@Model.Employe.Indemnites.RepasJour)</span>
            </td>
            <td>
                <span class="valeur">@Model.Employe.Indemnites.IndemnitesCp %</span>
            </td>
        </tr>
    </tbody>
</table>
<br />
<p><span class="info">Informations Salaire</span></p>
<table>
    <tbody>
        <tr>
            <td>
                <span class="libellé">Salaire de base</span>
            </td>
            <td>
                <span class="libellé">Cotisations sociales</span>
            </td>
            <td>
                <span class="libellé">Indemnités d'entretien</span>
            </td>
            <td>
                <span class="libellé">Indemnités de repas</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="valeur">@String.Format("{0:C2}", @Model.ElementsSalaire.SalaireBase)</span>
            </td>
            <td>
                <span class="valeur">@String.Format("{0:C2}", @Model.ElementsSalaire.CotisationsSociales)</span>
            </td>
            <td>
                <span class="valeur">@String.Format("{0:C2}", @Model.ElementsSalaire.IndemnitesEntretien)</span>
            </td>
            <td>
                <span class="valeur">@String.Format("{0:C2}", @Model.ElementsSalaire.IndemnitesRepas)</span>
            </td>
        </tr>
    </tbody>
</table>
<br />
<table>
    <tbody>
        <tr>
            <td>
                <span class="libellé">Salaire net à payer: </span>
            </td>
            <td>
                <span class="valeur">@String.Format("{0:C2}", @Model.ElementsSalaire.SalaireNet)</span>
            </td>
        </tr>
    </tbody>
</table>